# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias dev="cd ~/dev"
alias tmp="cd ~/tmp"

# ls
alias la="ls -a"
alias lsla="ls -la"

# Programs
alias vim='command -v nvim >/dev/null 2>&1 && nvim || vim' # Use Neovim if installed
alias git="g"
alias push="git push origin "
alias python="python3"
alias py="python3"
pym() {
    python3 main.py "$@"
}

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Enable aliases to be sudo’ed
alias sudo='sudo '